<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    RewriteBase /
    
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP_HOST} ^127\.0\.0\.1 [NC]
    RewriteRule (.*) http://localhost/$1 [QSA,R=301,L]
    
    RewriteCond %{HTTPS} on
    RewriteCond %{HTTP_HOST} ^127\.0\.0\.1 [NC]
    RewriteRule (.*) https://localhost/$1 [QSA,R=301,L]
</IfModule>
