# Eclipse
/.settings
/.settings/*
/.buildpath
/.project
/.jsdtscope
/*.launch

# Ant
/build.properties
/build.xml

# Neard
/.dev
/.dev/*
/!alias
/alias/*
/!alias/gitlist.conf
/!alias/phpmyadmin.conf
/!alias/svn.conf
/!alias/webgrind.conf
/!alias/websvn.conf
