# Eclipse
/.settings
/.settings/*
/.buildpath
/.project
/.jsdtscope
/*.launch

# Neard
/.dev
/.dev/*
/alias
/alias/*
!/alias/adminer.conf
!/alias/gitlist.conf
!/alias/phpmyadmin.conf
!/alias/svn.conf
!/alias/webgrind.conf
!/alias/websvn.conf
